ADMIN_API_KEY=coloca_una_clave_compartida
GOOGLE_CLOUD_PROJECT=madejadictas-dev
GOOGLE_CLIENT_ID=TU_CLIENT_ID.apps.googleusercontent.com
ALLOWED_ADMINS=claudia@madejadictas.com,carla@madejadictas.com,hector@madejadictas.com
# Si quieres exigir la clave además del login de Google
ENFORCE_ADMIN_API_KEY=false
